@page
@model DatabaseHomework.Areas.Admin.Pages.AnimeGenres.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AnimeGenre</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimeGenre.Anime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimeGenre.Anime.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimeGenre.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimeGenre.Genre.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="AnimeGenre.AnimeID" />
        <input type="hidden" asp-for="AnimeGenre.GenreID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
