@page
@model DatabaseHomework.Areas.Admin.Pages.Animes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Anime</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Anime.ID" />
            <div class="form-group">
                <label asp-for="Anime.Name" class="control-label"></label>
                <input asp-for="Anime.Name" class="form-control" />
                <span asp-validation-for="Anime.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anime.Description" class="control-label"></label>
                <input asp-for="Anime.Description" class="form-control" />
                <span asp-validation-for="Anime.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anime.Episodes" class="control-label"></label>
                <input asp-for="Anime.Episodes" class="form-control" />
                <span asp-validation-for="Anime.Episodes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
